html,body
{
	position: relative;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

#cubes
{
	width:100%;
	height:85%;
}


#menu{
	background: black;
	color:white;
	height:15%;
	text-align: justify;
	padding:10px;
	box-sizing:border-box;
}

#menu:after{
	content:"";
	display:inline-block;
	width:100%;
	height:0px;
}

#menu label{
	display:inline-block;
}

#menu input[type=radio]{
	display:none;
}

#menu input[type=radio] + .control-wrapper{
	display:none;
}

#menu input[type=radio]:checked + .control-wrapper{
	display:block;
}

#menu label:hover{
	background:#333;
}


.control-wrapper
{
	background:black;
	position:absolute;
	top:1.5em;
	left:0;
}







.control-wrapper *{
	vertical-align: middle;
}

.control-wrapper input{
	width:90%;
}

.control-wrapper span{
	display:inline-block;
	width:6%;
	text-align: center;
}

.colors{
	text-align: justify;
	padding:5px;
	margin:0;
	line-height: 0;
}

.colors:after{
	content:"";
	display:inline-block;
	width:100%;
	height:0px;
}

.colors input
{
	margin:5px 0;
	width:3.25em;
	text-align:left;
}

.colors div{
	display:inline-block;
}